@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto&display=swap");

* {
  font-family: "Inter";
}

button {
  border: none;
}

button input,
optgroup,
select,
textarea {
  width: 20px;
  height: 20px;
  color: #000;
}

input,
input::placeholder {
  font-size: 18px;
}

button.is-active {
  background: #d1d5db;
  border-radius: 5px;
  padding: 4px 4px 0 4px;
}

body pre {
  white-space: pre-wrap;
}

body ul,
body ol {
  padding-left: 2rem;
}

body h1 {
  font-size: 1.6rem;
}
body h2 {
  font-size: 1.4rem;
}

body h3 {
  font-size: 1.2rem;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  line-height: 1.1;
}

body code {
  font-family: "Inter";
  color: #616161;
}

body img {
  max-width: 100%;
  height: auto;
}

body blockquote {
  margin-left: 2rem;
  padding-left: 2rem;
  border-left: 2px solid #d1d5db;
}

body hr {
  margin: 2rem 0;
}

div input {
  border-radius: 2px;
  background: inherit;
  width: 25px;
  height: 24px;
  margin-top: -3px;
}

.ProseMirror {
  padding: 0.6rem 1rem;
  outline: none;
  min-height: 100px;
  tabindex: 99999999999999999999999999999999999;
}

.ProseMirror > * + * {
  margin-top: 0.75em;
  color: #000;
}

.ProseMirror ul,
.ProseMirror ol {
  padding: 0 2rem;
}

.ProseMirror h1 {
  font-size: 1.6rem;
}
.ProseMirror h2 {
  font-size: 1.4rem;
}

.ProseMirror h3 {
  font-size: 1.2rem;
}

.ProseMirror h1,
.ProseMirror h2,
.ProseMirror h3,
.ProseMirror h4,
.ProseMirror h5,
.ProseMirror h6 {
  line-height: 1.1;
}

.ProseMirror p{
  margin-top: 0;
  padding-top:0;
}

.ProseMirror code {
  background-color: rgba(#616161, 0.1);
  color: #616161;
}

.ProseMirror pre {
  background: #0d0d0d;
  color: #fff;
  font-family: "Inter";
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}

.ProseMirror pre code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}

.ProseMirror img {
  max-width: 100%;
  height: auto;
}

.ProseMirror blockquote {
  margin-left: 1rem;
  padding-left: 1rem;
  border-left: 2px solid #d1d5db;
}

.ProseMirror hr {
  border: 1px solid #d1d5db;
  margin: 2rem 0;
}

.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #adb5bd;
  pointer-events: none;
  height: 0;
}

.bottom-row {
  color: #868e96;
  margin-left: 1rem;
  position:absolute;
  bottom:0;
  margin-right:1rem;
}

.comment-content{
  /* border-left: 1px solid #616161; */
  display:inline-block;
  /* width:90%; */
}

.pre-comment-content{
  /* display: inline-block; */
  background-color: yellow;
  
}

/* .pre-comment-content::after{
  height: 100%;
  background-color: crimson;
  content:"I got sth";
  height:15px;
  padding-top: 15px;
} */

.before-content{
  position:absolute;
  bottom:0;
  left:75px;
  top:80px;
  background-color: rgb(167, 168, 167);
  width:3px;
  cursor:pointer;
  z-index: 11;
}

.hidden{
  background-color: bisque;
  display:none;
}

.hiddden > * {
  display: none;
}